/* колір основного тексту: #212121; */
/* другорядний колір тексту: #757575;*/
/* акцент: #2196F3;*/
/* білий колір:#FFFFFF;*/
:root{

    --accent-color:#2196F3;
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --c-white:#FFFFFF;
}
body{
    background-color: var(--c-white);;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.03em;;
}
.container{
max-width: 1200px;
margin:0 auto;
padding: 0 15px;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

/* Header general */
.header{
    color:var(--c-white);
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ECECEC;
}
.header-block{
display: flex;
justify-content: space-between;
align-items: center;
padding: 24px 0 25px;

}
.header-site{
    display:flex;
}
.logo{
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
}
.logo-first{
    color: #000000;
}
.list{
    list-style-type: none;
    text-decoration: none;
    
}
.site-nav{
    display: flex;
    align-items: center;
}
.site-list{
    display: flex;
    
}
.site-item:not(:last-child) {
    margin-right: 50px;
}
.site-nav .link{
    color: #212121;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}
.info-nav{
    display: flex;  
}
.info-item:not(:last-child) {
    margin-right: 50px;
}
.info-link{
    color:var(--secondary-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.info-link:hover,
.info-link:focus {
    color:var(--accent-color);
}
.current:visited{
    color: var(--accent-color);
}
.icon-formail{
    margin-right: 10px;
    fill: currentColor;
}
.icon-phone{
    margin-right: 10px;
    fill: currentColor;
}

/* Main content */
/* Hero */
.hero{
background-color: #2F303A;
background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-main.jpeg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
max-width: 1600px;
margin: 0 auto;
}
.hero-block{
padding: 200px;
}
.hero-title{
    color: var(--c-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button-wrapper{
    display: flex;
    justify-content: center;
}
.hero-button{
    color:var(--c-white);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none;
    padding: 10px 32px;
    margin-top: 30px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #188CE8;
}
/* Advantages */
.section.advantages{
    padding-bottom: 0;
}
.title{
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.adv-list{
    display:flex;
    gap: 30px;
}
.adv-item{
    max-width: 270px;
}
.image-icon{
    max-width: 270px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #F5F4FA;
    padding: 25px 100px;
    border-radius: 4px;
}
.advantages .item{
    color: var(--primary-text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    
}
.advantages .text{
    color: var(--secondary-text-color);
    line-height: 1.71;

}

/* Doing */
.doing-list{
display: flex;
margin-top: 50px;
}

.doing-item:not(:last-child){
margin-right: 30px;
}
/* Team */
.team{
    background-color: #F5F4FA;
}
.team-list{
    display:flex;
    margin-top: 50px;
}
.team-member{
    background: var(--c-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}
.team-member:not(:last-child){
margin-right: 30px;

}
.team-mate{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 30px;
}

.team-jobs{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin: 10px 0 30px;
}

.socials{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.socials-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--c-white);
    fill:#afb1b8;
}
.socials-link:hover,
.socials-link:focus{
    fill:var(--c-white);
    background-color: var(--accent-color); 
}
/* Constant clients */
.constant-clients{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;

}
 
.client-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 170px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    background-color: transparent;
    fill:#afb1b8;
    margin-top: 50px;
}
.client-link:hover,
.client-link:focus{
    fill: var(--accent-color);
    background-color: var(--c-white);
    border-color: var(--accent-color);
    /* fill: currentColor; */
}



/* Footer general */
.footer{
background-color: #2F303A;
}
.footer-block{
display: flex;
padding: 60px 0;
gap: 70px;
align-items: baseline;
}
.footer-first{
display: flex;
flex-direction: column;
}

.logo-last{
    color:var(--c-white);
}
.address-nav{
    margin-top: 20px;
}
.address-nav .link{
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.footer-item:not(:last-child){
    margin-bottom: 9px;
}

.address-nav .link:hover,
.address-nav .link:focus{
    color: var(--accent-color);
}

.address-nav .link-address{
    color: var(--c-white);
}
.socials-signin{
    color: var(--c-white);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.socials-link.footer-link{
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--c-white);
}
.socials-link.footer-link:hover,
.socials-link.footer-link:focus {
    fill: var(--c-white);
    background-color: var(--accent-color);
}

/* Portfolio */
.section{
    padding: 94px 0;
}
.filter-block{
    margin-bottom: 50px;
}
.filter-buttons{
display: flex;
gap: 8px;
justify-content: center;
}


.filter-button{
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    padding: 6px 22px;

}

.filter-button:hover,
.filter-button:focus{
    color: var(--c-white);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
}
.work-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
}
.works{
    background: var(--c-white);
}

.works:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-image{
    display: block;
}
.work-add{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.work-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.work-type{
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
}